@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

body {
    padding: 0%;
    margin: 0%;
}

.background-dark {
    background-color: #C5C5C5;
}

.border-bottom-darker {
    border-bottom: 1px solid #8C8C8C;
}